//====================================================================================================
.header {
	//background: #061321;
	
	position: absolute;
	z-index: 2;
	width: 100%;
	// .header__container

	&__container {
		flex: 0 0 calc(100% - 60px);
		display: flex;
		position: relative;
		z-index: 2;
		justify-content: space-between;
		align-items: center;
	}

	// .header__body

	&__body {
		position: relative;
		padding-bottom: 18px;
		@media (max-width:$mobile){
			 display: flex;
			 justify-content: space-between;
			 padding-bottom: 0;
		}
		&::after{
			content:'';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #061321;
			opacity: 0.9;
			//z-index: -1;
		}
		
	}

	// .header__logo

	&__logo {
		flex: 0 0 percent(269.24,1110);
		padding-bottom: 6.667%;
		@media (max-width:$mobile){
			 margin-left: 15px; 
		}
	}

	// .header__adress

	&__adress {
		padding-left: 11.5%;
		@media (max-width:$tablet){
			padding-left: 0;
		}
		@media (max-width:$mobile){
			 //display: none;
			 padding-left: 0;
			 display: flex;
			 align-items: center;
			 margin-top: 20px;
			 padding: 0px 16px;
			 div {
				font-size: rem(20);
			 	font-weight: 500;
			 }
		}
	}

	// .header__mesto

	&__mesto {
		padding-left: 26px;
		background: url('@img/header/mesto.svg') left no-repeat;
		color: white;
		font-weight: 600;
		@include adaptiveValue("font-size", 18, 10,1920,320,1);
		//line-height: 1.3;
		margin-bottom: rem(9);
		transition: color 0.3s;
		&:hover{
			color:$mainblue;
		}
		@media (max-width:$mobile){
			 margin-bottom: initial; 
		}
	}

	// .header__subtitle

	&__subtitle {
		//font-weight: 400;
		@include adaptiveValue("font-size", 18, 14,1920,320,1);
		color: #69778A;
		line-height: 1.3;
		transition: color 0.3s;
		
		// .header__subtitle_city-street

		&_city-street {
			@media (max-width:$mobile){
				 padding-left: 20px; 
			}
		}

		// .header__subtitle_phone

		&_phone {
			
		}
	}

	// .header__phone-link

	&__phone-link {
		@media (max-width:$mobile){
			 display: none; 
		}
	}

	// .header__phone

	&__phone {
		padding-left: 27px;
		background: url('@img/header/phone.svg') left no-repeat;
		color: white;
		line-height: 1.3;
		//font-weight: 400;
		margin-bottom: rem(9);
		transition: color 0.3s;
		font-weight: 600;
		&:hover{
			color:$mainblue;
		}
	}

	// .header__menu

	&__menu {
		background: #07192D;
		opacity: 0.9;
	}

	&__button {
		display: none;
		@media (max-width:$mobile){
			display: block;
			position: relative;
   		 z-index: 2;
			padding: 21px 19px;
			background: $mainblue; 
		}
	}
}
.menu {

	// .menu__icon

	&__icon {
	}

	// .menu__body

	&__body {
		@media (max-width:$mobile){
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: -100%;
			overflow: auto;
			background: $mainColor;
			padding: rem(100) rem(0) rem(50) rem(0);
			transition: left 0.6s ease 0s;
			z-index: 4;
			&::before {
				content: "";
				position: fixed;
				//border-bottom: 1px solid #EEEEEE;;
				//display: block;
				width: 100%;
				left: -100%;
				top: 0px;
				background-color: $mainColor;
				transition: left 0.6s ease 0s;
				height: 92px;
				// @media (max-width:$mobile){
				// 	 height: 83px; 
				// }
				// @media (max-width:$mobileSmall){
				// 	 height: rem(75); 
				// }
			}
			
			.menu-open & {
				left: 0;
				&::before {
					left: 0;
				};
			}
		}
	}

	// .menu__list

	&__list {
		display: flex;
		justify-content: center;
		@media (max-width:$mobile){
			 flex-direction: column;
			 //row-gap: 15px;
			 //align-items: center;
		}
	}

	// .menu__item

	&__item {
		border-right: 1px solid #69778A;
		@media (max-width:$mobile){
			border-right: none;
			border-bottom: 1px solid #69778A;
			display: flex;
			justify-content: center;
		}
		&:first-child{
			border-left: 1px solid #69778A;
			@media (max-width:$mobile){
				 border-left: none;
			}
		}
		
	}

	// .menu__link

	&__link {
		@include adaptiveValue("font-size", 18, 14,1920,320,1);
		line-height: 1.3;
		color: white;
		padding: 14px 50px;
		display: inline-block;
		transition: color 0.3s ease 0s;
		&:hover{
			color: $mainblue;
		}
		@media (max-width:$mobile){
			 font-weight: 500;
			 font-size: rem(34);
			 display: inline-block;
			 //margin: 0 auto;
			 padding: 20px 50px;
		}
	}
}
.icon-menu {
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(22);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		//padding: 21px 19px;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #fff;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}

