//====================================================================================================
.page {

	// .page__main

	&__main {
	}
}
.main {

	// .main__body-top

	&__body-top {
	}

	// .main__body-bottom

	&__body-bottom {
		display: flex;
		justify-content: center;
		margin-top: -120px;
		@media (max-width:$mobile){
			 margin-top: 0; 
		}
	}
}
.body-top {

	// .body-top__slider

	&__slider {
	}

	
	// .body-top__swiper

	&__swiper {
	}

	// .body-top__slide

	&__slide {
		padding-bottom: percent(948,1920);
		position: relative;
	}

	&__text {
		position: absolute;
		color: white;
		top: 50%;
	}
	// .body-top__title

	&__title {
	}

	// .body-top__subtitle

	&__subtitle {
	}
}
.body-bottom {

	// .body-bottom_left

	&_left {
	}

	// .body-bottom_right

	&_right {
	}

	&__cont {
		width: 1200px;
		position: relative;
		display: flex;
		justify-content: center;
		//padding: 0px 15px;
		@media (max-width: em(1220)){
			width:100%;
			padding-left: 15px;
			padding-right: 15px;
		}
		@media (max-width:$mobile){
			 padding-right: 0; 
		}
	}
	// .body-bottom__slider

	&__slider {
		position: relative;
		//width: percent(1200,1920);
		//width: auto;
		//width: 100%;
		width: 1100px;
		display: flex;
  		justify-content: center;
		@media (max-width: em(1220)){
			  width: 620px;
		}
		@media (max-width:$mobile){
			//width: 90%; 
		}
	}

	// .body-bottom__swiper

	&__swiper {
		//width: percent(1110,1200);
	// 	width: 1100px;
	// 	@media (max-width: em(1220)){
	// 		width: 620px;
	//  }
		@media (max-width:$mobile){
			 padding-left: 15px; 
		}
	}

	// .body-bottom__slide

	&__slide {
		width: percent(350,1100);
		//width: 350px !important;
		padding-bottom: percent(260,1100);
		@media (max-width: em(1220)){
			//width: 500px !important;
			padding-bottom: 35.95%;
		}
		@media (max-width:$mobile){
			 padding-bottom: 85.25%; 
		}
	}

	// .body-bottom__controls

	&__controls {
		position: absolute;
		display: grid;
		grid-template-columns: repeat(2, 16px);
		top: 50%;
		width: 100%;
   	 left: 0%;
   	 justify-content: space-between;
		//transform: translateY(-50%);
		@media (max-width: em(1220)){
			width: 80%;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	// .body-bottom__arrow

	&__arrow {
		background-color: rgb(54, 38, 13);
		&_left {
			transform: rotate(180deg);
		}

		&_right {
			
		}
	}
}

//====================================================================================================

.about {
	height: 500px;
	background-color: olivedrab;
	margin-top: -140px;
	@media (max-width: em(1220)){
		margin-top: -103px;
	}
	@media (max-width:$mobile){
		 margin-top: 0; 
	}
}